body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white;
}

p {
  color: #939393;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

input {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  width: 50%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

form #input-submit {
  color: white;
  background: #e74c3c;
  cursor: pointer;
  text-align: center;
}

ul {
  text-align: left;
  list-style-type: none;
  width: 50%;
  margin-left: 15%;
}

ul li p {
  display: inline-block;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  width: 0px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  display: none;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted #e74c3c;
}

label:hover:before {
  border: 2px solid #e74c3c!important;
}
